/* You can add global styles to this file, and also import other style files */
input, select {
    border-radius: 7px;
    border-color: silver;
}
#pageTitle {
    font-size: 1.1em;
    font-weight: bold;
    font-style: italic;
}
